:root {
  font-family: sans-serif;
}

footer p {
  position: fixed;
  bottom: 0;
  margin: 0;
  text-align: center;
  display: block;
  background-color: #ccc;
  width: 100%;
  left: 0;
  font-weight: bold;
  padding: 3px;
  font-size: 0.75rem;
}

footer p a {
  text-decoration: none;
}
